.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #013369;
  color: #fafafa;
}

.title {
  font-size: 2rem;
}

.score-board {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.score {
  text-align: left;
}